*.pdf binary
*.docx binary
*.xlsx binary
*.xls binary
*.zip binary
examples/data/*.csv text eol=lf
examples/data/*/*.csv text eol=lf
*.png binary
*.tif binary
*.shp binary
*.shx binary
*.dbf binary
*.pt binary
*.pth binary
*.pkl binary
